body {
  background-color:white;
}

.header-title {
  font-size: 20px;
  margin: 10px;
  color: white;
}

.header-date {
  font-size: 20px;
  margin: 10px;
  color: white;
  text-align: right;
  margin: 10px;
  flex:1;
}

.header {
  display:flex;
  background-color: black;
  align-items: center;
}

.footer {
  font-size: 10px;
  background-color: darkblue;
  text-align: center;
  color:white;
}

.list-item{
    padding: 5%;
}

.item-row {
    padding: 1px;
    display: flex;
    align-items: center;
    width: 500px;
    height: 50px;
    align-self: center;
}

.item-row:hover {background-color:lightslategray}

.id-row {
      padding: 5px;
      border-bottom: 0.1px solid gray;
      width: 20px;
}

.marca-row {
      padding: 5px;
      border-bottom: 0.1px solid gray;
      width: 140px;
}

.modelo-row {
      padding: 5px;
      border-bottom: 0.1px solid gray;
      width: 160px;
}

.precio-row {
      padding: 5px;
      border-bottom: 0.1px solid gray;
      width: 80px;
}

.opciones-row {
      padding: 5px;
      border-bottom: 0.1px solid gray;
      width: 100px;
      display: flex;
      align-items: lef;
}

form {
    border: 0.5px solid #f1f1f1;
}

button {
    background-color: lightslategray;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;
}

input[type=text], input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

.login {
  display:inline-block;
  align-items: center;
  width: 100%;
}

.link {
  text-decoration: none;
  color:darksblue;
}

.link:hover {
    opacity: 0.9;
    color:darkblue;
    font-size: 18px;
}